<article class="post-container post-container--single">

  <header class="post-header">
    <div class="post-meta">
      <%- partial('_partial/date',{post: page}) %> &#8226; <span class="post-meta__tags tags">于&nbsp;<%- partial('_partial/tags',{post: page}) %></span>
    </div>
    <h1 class="post-title"><%= page.title%></h1>
    <!--<%- partial('_lean/leancloud_visitors.swig',{}) %>-->
  </header>

  <section class="post">
    <%- page.content%>
  </section>
<span id="busuanzi_container_page_pv">
  本文总阅读量<span id="busuanzi_value_page_pv"></span>次
</span>
</article>

<%- partial('_partial/comments',{}) %>